@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

/* HEADER & HERO */

.header, .hero {
    background: #1F2937;
    display: flex;
}

.header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.hero {
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 125px;
}

#hero {
    font-size: 48px;
    color: #F9FAF8;
}

.hbox {
    width: 100vw;
    display: flex;
    gap: 5em;
    justify-content: center;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
}

#hero-left {
    display: block;
}

button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    border: none;
    border-radius: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
}

#image-placeholder {
    background-color: gray;
    padding: 100px;
}

h2 {
    font-size: 24px;
    color: #F9FAF8;
}

p, ul {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

a, a:link, a:visited, a:hover, a:active{
    color: #E5E7EB;
    text-decoration: none;
}

/* INFO */
.item-gallery {
    display: flex;
    gap: 52px;
    justify-content: center;
    padding-bottom: 50px;
}

.item {
    display: block;
    width: 200px;
    text-align: center;
    justify-content: center;
}

.square {
  height: 150px;
  width: 150px;
  background-color: white;
  border: 5px solid #3882F6;
  border-radius: 12px;
}

.inner-center {
    display: flex;
    justify-content: center;
}

.caption {
    padding-top: 10px;
    width: 150px;
}

#info-header{
    display: flex;
    justify-content: center;
}

#info {
    font-size: 36px;
    color: #1F2937;
}

/* QUOTE */
.quote{
    display: block;
    padding-left: 125px;
    padding-right: 125px;
    padding-top: 75px;
    padding-bottom: 75px;
    margin: 0px;
}
.quote, #quote, #attribution {
    background-color: #E5E7EB;
    color: #1F2937;
}

#attribution {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: right;
}

#quote {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.block {
    display: flex;
    justify-content: center;
}

h1 {
    font-weight: 900px;
}

/* FOOTER */
.footer {
    background: #1F2937;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;

}