@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
.header, .hero, .footer {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding-left: 175px;
    padding-right: 175px;
}

.footer {
    display: flex;
    text-align: center;
    justify-content: center;
}

.left, .right {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900px;
}

h2 {
    font-size: 24px;
    color: #F9FAF8;
}

p, ul {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

a, a:link, a:visited, a:hover, a:active{
    color: #E5E7EB;
    text-decoration: none;
}